<div class="container-fluid bg-light mt-4 mb-4">
	<footer class="">
		<ul class="nav justify-content-center mt-3">
			<li class="nav-item">
				<a
					href="#"
					class="nav-link px-2"
					>Home</a
				>
			</li>
			<li class="nav-item">
				<a
					href="#"
					class="nav-link px-2"
					>Features</a
				>
			</li>
			<li class="nav-item">
				<a
					href="#"
					class="nav-link px-2"
					>Pricing</a
				>
			</li>
			<li class="nav-item">
				<a
					href="#"
					class="nav-link px-2"
					>FAQs</a
				>
			</li>
			<li class="nav-item">
				<a
					href="#"
					class="nav-link px-2"
					>About</a
				>
			</li>
		</ul>
		<p class="text-center mb-3">© 2023 SalesFunnel, Inc</p>
	</footer>
</div>
