#colorRed {
	background-color: #e28c90;
}

#colorGreen {
	background-color: #ccecce;
}

#colorYellow {
	background-color: #fde6a5;
}

.wrapper {
	height: 300px !important;
}

.nav-link {
	padding: 0.25rem 0;
	font-weight: 700;
	color: #fff;
	margin-left: 1rem;
	border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
	color: #fff;
	border-bottom-color: #fff;
}

.nav-link.active {
	color: rgb(10, 10, 10);
	border-bottom-color: rgb(24, 23, 23);
}



/* #cluster-map {
	width: 98%;
	height: 200px;
} */