<% layout('layouts/boilerplate')%>

<div class="container">
	<form
		action="/deals"
		method="post"
		class="validated-form">
		<div class="row gx-5">
			<div class="col-lg-12">
				<div class="row mt-4">
					<h4 class="text-dark">
						<i class="fa-sharp fa-solid fa-buildings text-muted"></i> Company Details
					</h4>
					<hr />
					<div class="mb-3 col-md-6">
						<label
							for="company"
							class="form-label text-muted"
							>Company</label
						>
						<input
							type="text"
							name="deal[company]"
							class="form-control"
							id="company"
							placeholder="Joe's Automotive" />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="hot"
							class="form-label text-muted"
							>Hot</label
						>
						<select
							id="hot"
							class="form-select"
							name="deal[hot]"
							aria-label="Default select example">
							<option selected>Choose One</option>
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="hd"
							class="form-label text-muted"
							>HD</label
						>
						<select
							id="hd"
							name="deal[hd]"
							class="form-select"
							aria-label="Default select example">
							<option selected>Choose One</option>
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
					</div>
					<div class="mb-3 col-md-6">
						<label
							for="address"
							class="form-label text-muted"
							>Address</label
						>
						<input
							type="text"
							class="form-control"
							name="deal[street]"
							id="address"
							placeholder="123 Main Street" />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="city"
							class="form-label text-muted"
							>City</label
						>
						<input
							type="text"
							name="deal[city]"
							class="form-control"
							id="city"
							placeholder="Jacksonville" />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="state"
							class="form-label text-muted"
							>State</label
						>
						<input
							type="text"
							name="deal[state]"
							class="form-control"
							id="state"
							placeholder="Florida" />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="zip"
							class="form-label text-muted"
							>Zip</label
						>
						<input
							name="deal[zip]"
							type="number"
							class="form-control"
							id="zip"
							placeholder="32210" />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="phone"
							class="form-label text-muted"
							>Phone</label
						>
						<input
							type="tel"
							name="deal[companyPhone]"
							oninput="formatPhoneNumber(event)"
							maxlength="14"
							class="form-control"
							id="phone"
							placeholder="(904) 555-5555" />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="linkedin"
							class="form-label text-muted"
							>LinkedIn</label
						>
						<input
							type="url"
							name="deal[companyLinkedin]"
							class="form-control"
							id="linkedin"
							placeholder="www.linkedin.com" />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="facebook"
							class="form-label text-muted"
							>Facebook</label
						>
						<input
							type="url"
							name="deal[companyFB]"
							class="form-control"
							id="facebook"
							placeholder="www.facebook.com/" />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="website"
							class="form-label text-muted"
							>Website</label
						>
						<input
							type="url"
							name="deal[companyWebsite]"
							class="form-control"
							id="website"
							placeholder="www.yourwebsite.com" />
					</div>
				</div>
				<div class="row mt-4">
					<h4 class="text-dark">
						<i class="fa-solid fa-display-chart-up-circle-dollar text-muted"></i> Deal Details
					</h4>
					<hr />
					<div class="mb-3 col-md-6">
						<label
							for="dealName"
							class="form-label text-muted"
							>Deal Name</label
						>
						<input
							type="text"
							name="deal[dealName]"
							class="form-control"
							id="dealName"
							placeholder="HawkEye Elite" />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="priority"
							class="form-label text-muted"
							>Priority</label
						>
						<select
							id="priority"
							name="deal[priority]"
							class="form-select"
							aria-label="Default select example">
							<option selected>Choose</option>
							<% for( let i = 11; i > 0; i-- ) { %>
							<option value="<%= i %>"><%= i %></option>
							<% } %>
						</select>
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="createDate"
							class="form-label text-muted"
							>Created</label
						>
						<input
							type="date"
							name="deal[createDate]"
							class="form-control"
							id="createDate"
							placeholder="03/10/2022"
							disabled />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="daysOpen"
							class="form-label text-muted"
							>Days Open</label
						>
						<input
							type="number"
							name="deal[daysOpen]"
							class="form-control"
							id="daysOpen"
							placeholder="35"
							disabled />
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="stage"
							class="form-label text-muted"
							>Stage</label
						>
						<select
							class="form-select"
							name="deal[stage]"
							aria-label="Default select example">
							<option selected>Choose One</option>
							<option value="lead">Lead</option>
							<option value="inquiry">Inquiry</option>
							<option value="qualified">Qualified</option>
							<option value="demo">Demo</option>
							<option value="negotiation">Negotiation</option>
							<option value="closure">Closure</option>
						</select>
					</div>
					<div class="mb-3 col-md-3">
						<label
							for="status"
							class="form-label text-muted"
							>Status</label
						>
						<select
							class="form-select"
							name="deal[status]"
							aria-label="Default select example">
							<option selected>Choose One</option>
							<option value="open">Open</option>
							<option value="won">Won</option>
							<option value="lost">Lost</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="value"
							class="form-label text-muted"
							>Value</label
						>

						<input
							type="text"
							name="deal[value]"
							class="form-control input-group"
							id="value"
							placeholder="$35,000" />
					</div>

					<div class="mb-3 col-md-2">
						<label
							for="activityDate"
							class="form-label text-muted"
							>Last Activity</label
						>
						<input
							type="date"
							name="deal[lastActivityDate]"
							class="form-control"
							id="activityDate"
							placeholder="03/10/2022"
							disabled />
					</div>
					<div class="mb-3 col-md-2">
						<label
							for="daysLastActivity"
							class="form-label text-muted"
							>Last Activity</label
						>
						<input
							type="number"
							name="deal[lastActivityDays]"
							class="form-control"
							id="daysLastActivity"
							placeholder="85"
							disabled />
					</div>
				</div>
				<div class="row mt-4">
					<div class="col-md-12">
						<h4 class="text-dark">
							<i class="fa-solid fa-address-book text-muted"></i> Contact Details
						</h4>
						<hr />
						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label
										for="contactName"
										class="form-label text-muted"
										>Contact Name</label
									>
									<input
										type="text"
										name="deal[contact]"
										class="form-control"
										id="contactName"
										placeholder="Jane Doe" />
								</div>
								<div class="mb-3">
									<label
										for="directPhone"
										class="form-label text-muted"
										>Direct Phone</label
									>
									<input
										type="tel"
										name="deal[contactDirect]"
										oninput="formatPhoneNumber(event)"
										maxlength="14"
										class="form-control"
										id="directPhone"
										placeholder="(904) 555-5555" />
								</div>
								<div class="mb-3">
									<label
										for="linkedin"
										class="form-label text-muted"
										>LinkedIn</label
									>
									<input
										type="url"
										name="deal[contactLinkedin]"
										class="form-control"
										id="linkedin"
										placeholder="www.linkedin.com" />
								</div>
							</div>

							<div class="col-md-6">
								<div class="mb-3">
									<label
										for="contactEmail"
										class="form-label text-muted"
										>Contact Email</label
									>
									<input
										type="email"
										name="deal[contactEmail]"
										class="form-control"
										id="contactEmail"
										placeholder="JaneDoe@email.com" />
								</div>
								<div class="mb-3">
									<label
										for="cellPhone"
										class="form-label text-muted"
										>Cell Phone</label
									>
									<input
										type="tel"
										name="deal[contactCell]"
										oninput="formatPhoneNumber(event)"
										maxlength="14"
										class="form-control"
										id="cellPhone"
										placeholder="(904) 555-5555" />
								</div>
								<div class="mb-3">
									<label
										for="facebook"
										class="form-label text-muted"
										>Facebook</label
									>
									<input
										type="url"
										name="deal[companyFb]"
										class="form-control"
										id="facebook"
										placeholder="www.facebook.com/" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="row mt-4">
					<div
						class="btn-group gap-1 mb-5 text-muted"
						role="group"
						aria-label="Basic example">
						<button class="btn btn-dark mt-4">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
